@import url("../fonts/IRANYekanX/fontiran.css");
@import url("../fonts/IRANYekanX/style.css");

html {
    background: #ecf0f1;
    min-height: 100vh;
    max-width: 100vw;
}
body {
    background: #ecf0f1;
    min-height: 100vh;
}
a, p, input, h1, h2, h3, h4, h5, h6, ul, ol, li, span {
    font-family: "IRANYekanX" !important;
    font-weight: normal;
    direction: rtl;
}

.uk-input, .uk-button, .uk-select, .uk-alert {
    border-radius: 5px !important;
}
.uk-card {
    border-radius: 5px !important;
}
.uk-button-primary {
    background: #0984e3;
    transition: 0.5s;
}
.uk-button-primary:hover {
    background: #74b9ff;
}

.uk-notification-message div {
    transition: 0.5s;
}
.uk-notification-message:hover > div {
    padding-right: 20px;
}



/*theme styles*/
.theme-background-primary {
    background: #0984e3;
    color: white !important;
}

.theme-primary-button {
    background: #00a8ff;
    color: white !important;

    transition: .5s;
}
.theme-primary-button:hover {
    background: #0097e6;
    color: white;
}

.theme-secondary-button {
    background: #0984e3;
    color: white !important;

    transition: .5s;
}
.theme-secondary-button:hover {
    background: #44bd32;
    color: white;
}

.theme-default-button {
    background: #f5f6fa;
    color: #626262 !important;
    border: 1px solid #dcdde1a8 !important;

    transition: .5s;
}
.theme-default-button:hover {
    background: #dcdde1;
    color: white;
}

.theme-rounded-button {
    border-radius: 5px;
}

.mini-divider {
    width: 20%;
}

.sidebar-active-socket {
    background: #0984e3 !important;
    color: white !important;
    box-shadow: rgb(116 185 255 / 58%) 0px 7px 29px 0px !important;
    transition: .5s;
}

.sidebar-active-socket:hover {
    background: #0984e3 !important;
    color: white !important;
    box-shadow: rgb(116 185 255 / 80%) 0px 7px 29px 0px !important;
    transition: .5s;
}

ion-icon {
    vertical-align: middle !important;
    transition: .1s;
    font-size: 20px;
}
.cursor {
    cursor: pointer;
}

ion-icon:hover {
    font-size: 23px;
}
